body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    margin-left: 1225px;
    padding: 10px 20px;
    display: block;
    width: fit-content;
    font-size: 18px;
    margin-top: 100px;
    border: none;
    background-color: white;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}


.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 70px 70px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 8px;
    left: 10px;
    padding: 5px 7px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border: none;
}

.input-boxes {
    display: flex;
    flex-direction: column;
}

.add-task {
    position: absolute;
    bottom: 4px;
    right: 6px;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bolder;
    border: none;
}

.add-task-name {
    border: none;
    padding: 10px;
    margin-bottom: 10px
}

.add-task-details {
    padding: 50px;
    border: none;
}
